body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin-right: 120px
}


#VistulaLogo {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;

  width: 100px;
  height: auto;
  max-width: 100%;
}

#quiz-features-container{
  margin-left: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: -18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.question {
  margin-bottom: 20px;
}

.choices {
  margin-top: 10px;
}

.choices label {
  display: block;
  margin-bottom: 10px;
}

.choices input[type="radio"] {
  margin-right: 10px;
}

.correct-answer {
  background-color: #c3e6cb;
}

.wrong-answer {
  background-color: #f8d7da;
}

.result-container {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.result {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.link a {
  color: #007bff;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
header{
  float: right;
}

#answers-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#answers-container p {
  margin-bottom: 10px;
}